body{
    overflow: hidden;
    margin: 0;
    padding: 0;
}

/* Place the navbar at the bottom of the page, and make it stick */
.c_navbar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1000;
    margin:0;
    padding:0;
    text-align:center;
}

.c_navbar ul {
    display: inline-block;
    list-style-type: none;
    margin:0;
    padding:0;
}

.c_navbar li {
    display:inline;
}

/* Style the links inside the navigation bar */
.c_navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.c_navbar a:hover {
    background-color: #ddd;
    color: black;
}


#not_id {
    position: absolute;
    bottom: 57px;
    padding: 5px;
    margin: 0;
    width: 100%;
    text-align: center;
    z-index: 500;
}

.helper {
    display: inline-block;
    height: 0px;
    vertical-align: middle;
}

.platform {
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    text-align: center;
    background-image: url("../img/plat.png");
    background-repeat: no-repeat;
    background-size:contain;
    background-position:center;
    user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#inc_speed_id {
    color: #ff0000
}

#dec_speed_id {
    color:#00ff00
}

#inc_size_id {
    color:#ff0000
}

#dec_size_id {
    color:#00ff00
}


